:root {
  --dark-mode-background: rgb(43, 28, 79);
  --light-mode-background: rgb(228, 223, 255);
  --background: var(--light-mode-background);
  --text: black;
  --border-radius: 5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-mode-background);
    --text: white;
  }
}

@keyframes BackgroundColorPalette {
  0% {
    background: #aaf4f3;
  }
  25% {
    background: #f8e4e9;
  }
  50% {
    background: #f8f0c6;
  }
  75% {
    background: #d9f8ca;
  }
  100% {
    background: #e7edff;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  background-color: transparent;
  outline: none;
}

body {
  background-color: var(--background);
}

.app {
  min-height: 100vh;
  padding: 1rem 2rem;
  transition: 0.3s;
}

.light-mode {
  color: #000000 !important;
  background: var(--light-mode-background) !important;
}

.dark-mode {
  background: var(--dark-mode-background) !important;
}

.search-header {
  margin: 0 auto;
  max-width: 1080px;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 100%;
  background-color: rgb(205, 199, 235);
  border-radius: 3rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.display-mode-toggle-back {
  width: 70px;
  height: 30px;
  background: #cccccc;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.display-mode-toggle-button {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 15px;
  position: relative;
  left: 0;
  transition: 0.5s;
}

.display-mode-toggle-button.activated {
  left: 40px;
  background: rgb(143, 129, 220) !important;
}

.search-input {
  font-size: 1.2rem;
  width: 100%;
  border: none;
  margin-right: 2rem;
}

.random-button {
  background-color: rgb(180, 173, 218);
  color: rgb(62, 60, 73);
  font-weight: 600;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.random-button:hover {
  background: rgb(154, 148, 186);
  color: rgb(239, 239, 239);
}

.previous-keywords-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.previous-keyword-box {
  background-color: rgb(205, 199, 235);
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.previous-keyword-box:hover {
  background: rgb(154, 148, 186);
  color: rgb(239, 239, 239);
}

.no-data-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-data-image {
  width: 25%;
  min-width: 100px;
  max-width: 300px;
  margin-bottom: 1rem;
}

.no-data-text {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 800px) {
  .modal-contents {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .cat-card {
    width: 70%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .cat-card {
    width: 40%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .cat-card {
    width: 30%;
  }
}

@media (min-width: 993px) {
  .cat-card {
    width: 23%;
  }
  .cards-wrapper {
    max-width: 1080px;
  }
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cat-card {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid rgb(197, 187, 255);
  border-radius: var(--border-radius);
  background-color: var(--background);
  padding: 1.5rem 1rem;
  font-weight: 600;
  transition: 0.3s;
}
.cat-card:hover {
  animation-name: BackgroundColorPalette;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.card-image {
  width: 90%;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.active {
  animation: fadeIn 1s;
  display: block !important;
}

.deactivate {
  animation: fadeOut 1s;
  display: block !important;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  transition: 0.4s;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  z-index: 1;
  width: 50%;
  max-width: 600px;
  padding: 2.5rem 2rem;
  background-color: lavender;
  color: var(--text);
}

.modal-image {
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: 700;
}

.modal-title {
  margin: 0;
}

.close-button {
  cursor: pointer;
}

.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader-image {
  position: absolute;
  width: 15%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.error-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.error-image {
  width: 25%;
  min-width: 100px;
  max-width: 300px;
  margin-bottom: 1rem;
}

.error-text {
  font-size: 1.5rem;
  font-weight: 600;
}
